<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <setting id="base_url" type="text" label="DiziPal URL" default="https://dizipal.im"/>
    <setting id="user_agent" type="text" label="User-Agent" default="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36"/>
</settings>
